*{
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

html{
    margin: 0;
    padding: 0;
}

body,table,td,th,p,div,form,label,caption,a{
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #F7F7F7;
    color: #111;
}

body.outer-index{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: solid #414141 2px;
}

form{
    overflow: auto;
    width: auto;
}

fieldset {
    border: none;
    width: auto;
    overflow: auto;
}

legend {
    display: none;
}

h1.title , h2.title , h3.title  {
    margin: 0;
    color: #2779AA;
}

h2.title  {
    margin-bottom: .5em;
    font-size: 1.6em;
}

h3.title {
    margin-bottom: 1em;
    font-size: 1em;
}

p, blockquote, ul, ol {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

ul {
    margin-left: 2em;
    list-style: square;
}

ol {
    margin-left: 2em;
    list-style: lower-roman;
}

a {
    color: #EA672E;
}

a:hover {
    text-decoration: none;
    color: #11A6D4;
}

img {
    border: none;
}

.mainLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}

/******************************************************************************/

table.std-table{
    text-align: left;
    border-collapse: collapse;
}

table.std-table th{
    background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7;
    border: 1px solid #AED0EA;
    color: #222222;
    font-weight: bold;
    min-width: 150px;
    font-size: 1.1em;
    padding: 2px 2px 2px 5px;
}

table.std-table td{
    min-width: 175px;
    padding: 2px 2px 2px 6px;
    /*    background: #e8edff;*/
    background-color: white;
    color: #669;
    border: 1px solid #AED0EA;
}
table.std-table tr:hover td{
    background: #d0dafd;
    color: #339;
}

table.std-table tfoot tr td{
    background: #ddd;
}

table.pagination{
    border-width:1px;
    border-color:#888888;
    border-style:solid;
    text-align: center;
    width: 75%;
}
table.sort_table{
    border-width:1px;
    border-color:#888888;
    border-style:solid;
    text-align: center;
    float: left;
    width: 25%;
}

/******************************************************************************/
/** Buttons **/
.button {
    background-position: 4px;
    background-repeat:no-repeat;
    text-indent:15px;
    min-width:75px;
}

a:hover {
    background-color:#F3F3E9;
    color:#737373;
}

.add {
    background:url(img/add.gif) no-repeat 10px 8px;
}
.delete {
    background:url(img/delete.gif) no-repeat 10px 8px;
}
.user {
    background:url(img/user.gif) no-repeat 10px 8px;
}
.alert {
    background:url(img/alert.gif) no-repeat 10px 8px;
}
.msg {
    background:url(img/msg.gif) no-repeat 10px 8px;
}
.download {
    background:url(img/download.gif) no-repeat 10px 8px;
}
.show {
    background:url(img/show.gif) no-repeat 10px 8px;
}
.edit {
    background:url(img/edit.gif) no-repeat 10px 8px;
}
.info {
    background:url(img/info.gif) no-repeat 10px 8px;
}
.list {
    background:url(img/list.gif) no-repeat 10px 8px;
}
.clearfilter{
    background:url(img/clearfilter.gif) no-repeat 10px 8px;
}

/******************************************************************************/
/* Index styles */

#mainframe{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.index_layout{
    position: relative;
    min-height: 100%;
    height: auto !important;
}

.index_layout_header{

}

.index_layout_content{
    margin: 0 auto;
    padding: 20px 0px 15px;
    height: 82%;
}

.index_layout_footer{
    background: #414141;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px !important;
}

.boxed {
    margin-bottom: 1em;
}

.boxed .content {
    padding: 10px;
}

#page-container{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#list-container{
    margin: 5px 5px 5px 5px;
}

/* Header */

#header {
    height: 65px;
    margin: 0 auto;
    border-bottom:  2px solid black;
    margin: 0px 0px 1px 0px;
}

/* Header > Logo */

#logo {
    padding: 5px 0px 0px 20px;
    float:left;
}

#logo h1 {
    font-size: 3em;
}

#logo h2 {
    margin: 0;
    font-size: 1.2em;
}

#logo a {
    text-decoration: none;
    color: black;
}

#topmenu {
    float: right;
    margin-right: 20px;
}

#topmenu ul {
    margin: 0;
    padding: 15px 0 0 0;
    list-style: none;
    line-height: normal;
}

#topmenu li {
    display: inline
}

#topmenu a {
    display: block;
    float: left;
    margin: 0 0 0 20px;
    padding: 0 0 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
    color: #FFFFFF;
    vertical-align: middle;
}

#topmenu a:hover {
    text-decoration: underline
}

#topmenu1 {
    background: url(images/img03.gif) no-repeat left center;
}

#topmenu2 {
    background: url(images/img04.gif) no-repeat left center;
}

#btnColapseExpand{
    margin-top: -7px;
    margin-left: 10px;
}
#btnColapseExpand .ui-button-text{
    padding: 2px!important;
}

/* Content > Main */

#main {
    float: left;
    width: 460px;
}

#welcome {
    margin: 0 0 3em 0;
    padding: 10px 0 1.5em 0;
    border-bottom: 1px solid #CCCCCC;
}

#login {
    width: 220px;
    margin: 30px;
}

#login label {
    display: block;
}

#login p {
    margin: 0;
    padding-top: .2em;
}

/* Footer > Legal */

#legal {
    margin: 0;
    padding: 3px;
    text-align: center;
}

#legal a {
    font-weight: bold;
    color: #FFFFFF;
}

/* Footer > Links */

#links {
    text-align: center;
}

/* Menu */

#menu {
    height: 40px;
}

#userbox{
    padding-right:5px;
    padding-top:5px;
    right:5px;
    text-align:right;
    float: right;
}

#userbox img{
    vertical-align:middle;
}

#appversion{
    float: left;
    padding: 6px;
}

#poweredby{
    float: right;
    margin-right: 10px;
    padding: 6px;
}
#poweredby a{
    color: #2779AA;
}
#poweredby a:hover{
    text-decoration: none;
    background-color: transparent;
}

#status{
    width: 300px;
    line-height:200px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
    margin: 0px 0px 0px 20px;
}

/**CUSTOM STYLES*/

.jqHandle {
    background: black;
    height:10px;
}

.jqDrag {
    width: 100%;
    cursor: move;
}

.jqResize {
    width: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.jqDnR {
    z-index: 3;
    position: relative;
    color: #618d5e;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
}
#sort_page{
    border:1px solid #CCC;
    background-color: #EAEAD7;
    width: 250px;
}

.monitor_window{
    height: 80%;
    overflow: auto;
    border: 1px solid black;
    background-color: #ECF8E0;
    color:navy;
}

#navigation_bar{
    padding: 3px;
    margin:3px;
}

#operations_bar{
    margin: 0px 5px 0px 5px;
}

table.display th.jpm-list-operation-bar{
    color:gray; 
    white-space: nowrap;
    text-align: center;
    width: 1px;
    font-weight: normal;
    padding: 1px 7px 1px 7px;
}

table.display th.jpm-list-operation-bar img{
    vertical-align: middle;
}

.jpm-list-operation-col{
    width: 1px;
}

.tooltip{
    width:12px;
    height:12px;
    cursor: help;
}

.pm_message_ERROR{
    background-color: pink;
    border: red solid thin;
    color: red;
    padding: 10px;
    background-image: url(images/m_error.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

.pm_message_WARN{
    background-color: yellow;
    border: orange solid thin;
    padding: 10px;
    background-image: url(images/m_warning.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

.pm_message_INFO{
    background-color: lightcyan;
    border: blue solid thin;
    color: blue;
    padding: 10px;
    background-image: url(images/m_info.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

table.std-table td.pm_message_ERROR{
    background-color: pink;
    border-right: red solid thick;
    border-bottom: red solid thin;
    color: red;
}
table.std-table td.pm_message_WARN{
    background-color: yellow;
    border-right: orange solid thick;
    border-bottom: orange solid thin;
}

table.std-table td.pm_message_INFO{
    background-color: lightcyan;
    border-right: blue solid thick;
    border-bottom: blue solid thin;
    color: blue;
}

.operation_cell{
    color:gray;
    white-space: nowrap;
}

#sortDialog div.col1{
    float: left; 
    margin-top: 10px;
}
#sortDialog div.col2{
    float: right; 
    margin-top: 10px;
}

a.pagination span.ui-button-text{
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.dialog-icon{
    float:left; margin:0 7px 20px 0;
}


/*** TEST STYLES FOR HIGHLIGHT **/

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: lime;
    color: black;
}
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; width: 300px;}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}