*{font-family: "Arial", "Helvetica", "Verdana", "sans-serif";}
html{margin: 0;padding: 0;}
body,table,td,th,p,div,form,label,caption,a{font-size: 12px;}
body {margin: 0;padding: 0;background: #F7F7F7;color: #111;}

input, select, textarea, option{
    padding: 0.30em;
    border: 1px solid #D4D1BF;
    background-color: #F7F7F7;
    color: #362b36;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

input.string-converter{width: 300px;}

body.outer-index{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: solid #414141 2px;
}

form{overflow: auto;width: auto;}
fieldset {border: none;width: auto;overflow: auto;}
legend {display: none;}

h1.title , h2.title , h3.title  {margin: 0;color: #2779AA;}
h2.title  {margin-bottom: .5em;font-size: 1.6em;}
h3.title {margin-bottom: 1em;font-size: 1em;}

p, blockquote, ul, ol {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

a {
    color: #EA672E;
}

a:hover {
    text-decoration: none;
    color: #11A6D4;
}

img {order: none;}

.mainLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}

/******************************************************************************/

table.std-table{
    text-align: left;
    border-collapse: collapse;
}

table.std-table th{
    background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7;
    border: 1px solid #AED0EA;
    color: #222222;
    font-weight: bold;
    min-width: 150px;
    font-size: 1.1em;
    padding: 2px 2px 2px 5px;
}

table.std-table td{
    min-width: 175px;
    padding: 2px 2px 2px 6px;
    /*    background: #e8edff;*/
    background-color: white;
    color: #669;
    border: 1px solid #AED0EA;
}
table.std-table tr:hover td{
    background: #d0dafd;
    color: #339;
}

table.std-table tfoot tr td{
    background: #ddd;
}

table.pagination{
    border-width:1px;
    border-color:#888888;
    border-style:solid;
    text-align: center;
    width: 75%;
}
table.sort_table{
    border-width:1px;
    border-color:#888888;
    border-style:solid;
    text-align: center;
    float: left;
    width: 25%;
}

/******************************************************************************/
/** Buttons **/
.button { min-width:75px;}

.ui-list-icon{float:left;}

.ui-list-icon-container{
    border: 1px solid #CBC7BD;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
    float:left;
    padding: 3px; 
    border: 1px solid #aed0ea; 
    background: #d7ebf9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
    margin-right: 5px;
}
.ui-list-icon-container:hover{ 
    border: 1px solid #74b2e2; background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
}
.ui-list-icon-container:hover .ui-list-icon{
    background-image: url(images/ui-icons_2694e8_256x240.png);
}

/******************************************************************************/
/* Index styles */
#page-container{position: relative; min-height: 100%; height: auto !important; height: 100%;}
#mainframe{height: 100%; width: 100%; padding: 0px; margin: 0px; border: none;}
.index_layout{position: relative; height:auto !important; height:100%; min-height:100%;}
.index_layout_header{z-index: 1; width: 100%; position: fixed; background-color: #F7F7F7;}
.index_layout_content{top: 90px;position: absolute;bottom: 0px; left: 0px; right: 0px; z-index: 0;}
.boxed {margin-bottom: 1em;}
.boxed .content {padding: 10px;}
#list-container{margin: 5px 5px 5px 5px;}

/* Header */

#header {
    height: 50px;
    margin: 0 auto;
    border-bottom:  2px solid black;
    margin: 0px 0px 1px 0px;
}

#logo {padding: 5px 0px 0px 20px; float:left;}
#logo h1 {font-size: 2em;}
#logo h2 { margin: 0; font-size: 1.2em; }
#logo a { text-decoration: none; color: black;}

.menu-button-bar{width: 180px; height: 25px; background-color: gray; position: absolute; right: 50px; top: 5px;}
/*.menu-button-bar{width: 180px; height: 25px; float: right; background-color: gray; margin-top: 7px; margin-right: 5px;}*/
.menu-button-bar .version, .menu-button-bar .copyright{float: right; color: white; font-weight: bold; margin-top: 6px; border-left: white solid thin; padding-left: 10px; margin-right: 5px;}
.menu-button-bar .copyright {float: left; cursor: help; border: none;}
.menu-button-bar a div{width: 16px; height: 16px; display: block; margin: 4px; background-position: center center; background-repeat: no-repeat; float: left;background-image: url('images/ui-icons_ffffff_256x240.png'); }
.menu-button-bar a div.home   {background-position: 0 -112px; }
.menu-button-bar a div.contact{background-position: -80px -96px; }
.menu-button-bar a div.logout {background-position: 0 -176px; float: right;}
.menu-button-bar a div.expand {background-position: -128px -16px; }

#welcome {
    margin: 0 0 3em 0;
    padding: 10px 0 1.5em 0;
    border-bottom: 1px solid #CCCCCC;
}

#login {width: 220px; margin: 30px;}
#login label {display: block;}
#login p {margin: 0; padding-top: .2em;}
#links {text-align: center;}

#menu {height: 40px;}

#userbox{
    padding-right:5px;
    padding-top:5px;
    right:5px;
    text-align:right;
    float: right;
}

#userbox img{vertical-align:middle;}

#appversion{
    float: left;
    padding: 6px;
}

#poweredby{
    float: right;
    margin-right: 10px;
    padding: 6px;
}
#poweredby a{
    color: #2779AA;
}
#poweredby a:hover{
    text-decoration: none;
    background-color: transparent;
}

#status{
    width: 300px;
    line-height:200px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
    margin: 0px 0px 0px 20px;
}

/**CUSTOM STYLES*/

.jqHandle {
    background: black;
    height:10px;
}

.jqDrag {
    width: 100%;
    cursor: move;
}

.jqResize {
    width: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.jqDnR {
    z-index: 3;
    position: relative;
    color: #618d5e;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
}
#sort_page{
    border:1px solid #CCC;
    background-color: #EAEAD7;
    width: 250px;
}

.monitor_window{
    height: 80%;
    overflow: auto;
    border: 1px solid black;
    background-color: #ECF8E0;
    color:navy;
}

#navigation_bar{
    padding: 3px;
    margin:3px;
}

#operations_bar{
    margin: 0px 5px 0px 5px;
}

table.display th.jpm-list-operation-bar{
    color:gray; 
    white-space: nowrap;
    text-align: center;
    width: 1px;
    font-weight: normal;
    padding: 1px 7px 1px 7px;
}

table.display th.jpm-list-operation-bar img{
    vertical-align: middle;
}

.jpm-list-operation-col{
    width: 1px;
}

.tooltip{
    width:12px;
    height:12px;
    cursor: help;
}

.pm_message_ERROR{
    background-color: pink;
    border: red solid thin;
    color: red;
    padding: 10px;
    background-image: url(images/m_error.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

.pm_message_WARN{
    background-color: yellow;
    border: orange solid thin;
    padding: 10px;
    background-image: url(images/m_warning.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

.pm_message_INFO{
    background-color: lightcyan;
    border: blue solid thin;
    color: blue;
    padding: 10px;
    background-image: url(images/m_info.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

table.std-table td.pm_message_ERROR{
    background-color: pink;
    border-right: red solid thick;
    border-bottom: red solid thin;
    color: red;
}
table.std-table td.pm_message_WARN{
    background-color: yellow;
    border-right: orange solid thick;
    border-bottom: orange solid thin;
}

table.std-table td.pm_message_INFO{
    background-color: lightcyan;
    border-right: blue solid thick;
    border-bottom: blue solid thin;
    color: blue;
}

.operation_cell{
    color:gray;
    white-space: nowrap;
}

#sortDialog div.col1{
    float: left; 
    margin-top: 10px;
}
#sortDialog div.col2{
    float: right; 
    margin-top: 10px;
}

a.pagination span.ui-button-text{
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.dialog-icon{
    float:left; margin:0 7px 20px 0;
}


/*** TEST STYLES FOR HIGHLIGHT **/

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: lime;
    color: black;
}
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 

.ui-autocomplete-input {
    margin: 0;
    width: 276px;
    height: 26px;
    background: #F7F7F7 !important;
    -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    background: #F7F7F7 !important;
}

.object-converter-select{
    height: 26px;
    width: 200px;
}
.object-converter-search{
    height: 26px;
    width: 100px;
}
.object-converter-select-0{
    width: 302px;
}
.object-converter-select option{
    border: none;
    border-bottom: grey solid thin; 
}